{% extends 'base.html' %}
{% load static %}
{{author.name}}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>PAVSHOP - Multipurpose eCommerce HTML5 Template</title>



</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  

  
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>THE unique CHAIR BY PAVSHOP</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">BLOg details</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Blog List -->
    <section class="blog-list blog-list-3 single-post padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-md-9"> 
            
            <!-- Article -->
            <article> 
              <!-- Post Img --> 
       
              <img class="img-responsive" src="{% static 'images/blog-2.jpg' %}" alt="" > 
              <!-- Tittle -->
              <div class="post-tittle left"> <a href="#." class="tittle">Look Beautiful in this Seasons</a> 
                <!-- Post Info --> 
                <span><i class="primary-color icon-user"></i> by admin</span> <span><i class="primary-color icon-calendar"></i> April 27, 2016</span> <span><i class="primary-color icon-bubble"></i> 05</span> <span><i class="primary-color icon-tag"></i> Furniture</span> </div>
              <!-- Post Content -->
              <div class="text-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus. Suspendisse tristique ullamcorper erat a elementum. Cras eget elit non nunc aliquam ullamcorper quis sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                <h6 class="margin-top-80 margin-bottom-30">proeduct history</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                
                <!-- Post Img --> 
                <img class="img-responsive margin-top-50 margin-bottom-50" src="{% static 'images/blog-3.jpg'  %}" alt="" >
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus. Morbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bibendum varius purus. <br>
                  <br>
                  Nam sit amet sapien vitae enim vehicula tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc faucibus imperdiet vulputate. Morbi volutpat leo iaculis elit vehicula, eu convallis magna finibus. Suspendisse tristique ullamcorper erat a elementum. Cras eget elit non nunc aliquam ullamcorper quis sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, erat in ullamcorper bibendum, elit lacus mattis lorem, quis luctus diam lorem vel ligula.</p>
                
                <!-- LIST STYLE -->
                <ul class="list-group margin-top-50 margin-top-20">
                  <li>
                    <p>Donec sed dictum leo, et posuere felis. </p>
                  </li>
                  <li>
                    <p> Sed pharetra mauris vel varius suscipit. Aliquam lectus velit, </p>
                  </li>
                  <li>
                    <p> Tempus id est ut, volutpat maximus sapien. </p>
                  </li>
                </ul>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui aolutpat dui at lacus aliquet, a consequat et lacus aliquet, a consequat enim aliquet. Integer molestie sit ame.</p>
                
                <!-- Blockquote -->
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. NullamMorbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bociis natoque penatibus et magnnascetiscing elit. NullamMorbi ac scelerisque miscing elit. NullamMorbi ac scelerisque mur ridic volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit ame.</p>
                
                <!-- Tags -->
                <div class="row margin-top-50">
                  <div class="col-md-8">
                    <h5 class="shop-tittle">PRODUCT TAGS</h5>
                    <ul class="shop-tags padding-left-15">
                 
                        {% for c in categories %}
                   <li>
                   <a href="#"> {{c.name|title}} </a>
                     </li>
                       {% endfor %} 
            
                 
                    </ul>
                  </div>
                  
                  <!-- Share With -->
                  
                  <div class="col-md-4">
                    <h5 class="shop-tittle">share with</h5>
                    <ul class="share-post">
                      <li><a href="#."><i class="icon-social-facebook"></i> Facebook</a></li>
                      <li><a href="#."><i class="icon-social-twitter"></i> twitter</a></li>
                    </ul>
                  </div>
                </div>
                
                <!-- ADMIN info -->
                <div class="admin-info">
                  <div class="media-left">
                    <div class="admin-pic"> <img src="{% static  'images/admin-avatar.jpg'  %}" alt=""> </div>
                  </div>
                  <div class="media-body">
                    <h6>NATASHA S. <span>Co-Founder</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. NullamMorbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bociis natoque penatcing e scelerisque miscing elit. </p>
                    <div class="admin-social"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> <a href="#."><i class="icon-envelope"></i></a> </div>
                  </div>
                </div>
                
                <!--=======  COMMENTS =========-->
                <div class="comments margin-top-80">
                  <h5 class="shop-tittle margin-bottom-30">COMMENTS</h5>
                  <ul class="media-list padding-left-15">
                      {% for blog in blogs %}
                      <li class="media">
                          <div class="media-left">
                              <a href="#"> <img class="media-object" src="{{ blog.image.url }} " alt=""></a>
                          </div>
                          <div class="media-body"> <a class="media-heading" href="{% url 'blog:blog_list'  %}">   <p>{{blog.author}}</p> </a> <span>Posted on {{blog.created_date}}</span> </div>
                      </li>
                    {% endfor %}
                  </ul>
                  
                  
                  <!--=======  LEAVE COMMENTS =========-->
                  <h5 class="shop-tittle margin-top-80">POST YOUR COMMENTS</h5>
                  <form class="padding-left-15" method="post" >
                    {% csrf_token %}
                    <ul class="row">
                      <li class="col-sm-4">
                        <label>Name
                          <input type="text" class="form-control" name="name" placeholder="">
                        </label>
                      </li>
                      <li class="col-sm-4">
                        <label>Email
                          <input type="text" class="form-control" name="email" placeholder="">
                        </label>
                      </li>
                      <li class="col-sm-4">
                        <label>Subject
                          <input type="text" class="form-control" name="subject" placeholder="">
                        </label>
                      </li>
                      <li class="col-sm-12">
                        <label>COMMENTS
                          <textarea class="form-control"  name="comment" placeholder=""></textarea>
                        </label>
                      </li>
                      <li class="col-sm-12">
                        <button type="submit" value="submit" class="btn" id="btn_submit" onClick="proceed();">SEND COMMENT</button>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </article>
            <hr>
            
    
            
          </div>
          
          <!-- Sider Bar -->
          <div class="col-md-3">
            <div class="shop-sidebar"> 
              
              <!-- SEARCH -->
              <div class="search">
                <input class="form-control" type="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
                <ul class="shop-cate">
                  {% for c in categories %}
             <li>
             <a href="#"> {{c.name|title}} </a>
               </li>
                 {% endfor %} 
              </ul>
           
           
              
              <!-- Recent Post -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">recent post</h5>
              <ul class="papu-post margin-top-20">
                {% for blog in blogs %}
                 <li class="media">
                    <div class="media-left">
                      <a href="#"> <img class="media-object" src="{{ blog.image.url }} " alt=""></a>
                      </div>
                      <div class="media-body"> <a class="media-heading" href="{% url 'blog:blog_list'  %}">   <p>{{blog.author}}</p> </a> <span>Posted on {{blog.created_date}}</span> </div>
                    </li>
                {% endfor %}
              </ul>
              
              <!-- TAGS -->
              <!-- <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                <li><a href="#.">Towels</a></li>
                <li><a href="#.">Chair</a></li>
                <li><a href="#.">Bedsheets</a></li>
                <li><a href="#.">Shoe</a></li>
                <li><a href="#.">Curtains</a></li>
                <li><a href="#.">Clocks</a></li>
                <li><a href="#.">TV Cabinets</a></li>
                <li><a href="#.">Best Seller</a></li>
                <li><a href="#.">Top Selling</a></li>
              </ul>
               -->
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">archives</h5>
              <ul class="shop-cate">
                <li><a href="#."> January 2015 </a></li>
                <li><a href="#."> February 2015 </a></li>
                <li><a href="#."> March 2015 </a></li>
                <li><a href="#."> April 2015 </a></li>
                <li><a href="#."> May 2015 </a></li>
              </ul>
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{% static 'images/slider.jpg' %}"  style="height: 255px;"  alt="">
                <div class="position-center-center"> <span class="price"><small>$</small>299</span>
                  <div class="bnr-text">look
                    hot
                    with
                    style</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Culture BLOCK -->
    <section class="cultur-block">
      <ul>
        <li> <img src="{% static 'images/detail-bg.jpg' %}" alt="" style ='height: 260px;'> </li>
        <li> <img src="{% static 'images/detail-bg.jpg' %}" alt="" style ='height: 260px;'> </li>
        <li> <img src="{% static 'images/detail-bg.jpg' %}" alt="" style ='height: 260px;'> </li>
        <li> <img src="{% static 'images/detail-bg.jpg' %}" alt="" style ='height: 260px;'> </li>
      </ul>
      
      <!-- Culture Text -->
      <div class="position-center-center">
        <div class="container">
          <div class="col-sm-6 center-block">
            <h4>FOLLOW US @ INSTAGRAM</h4>
            <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
              eros vel fermentum consectetur, ris dolor in ex. </p>
          </div>
        </div>
      </div>
    </section>
    
 
  </div>
  

</div>

</body>
</html>
{% endblock %}